.main-container {
  margin-top: 100px; 
  background-image: url(images/OIP2.jpg); 
}

.app-container {
  color: #f4eeee;
  height: 230vh;
  background-color: #b9bbbc;
}

.nlpoutput-display {
  color: white;
  background-color: #fbfcfc;
  font-size: 18px;
  border-color: #919393;
  border-width: 2px;
  border-style: outset; 
  white-space: break-spaces;
  overflow-y: scroll;
  height: 1700px;
}

.fa-microphone {
  color: #14A76C;
}

.fa-microphone:hover {
  color: #f2f0ef;
}

.fa-file-audio {
  color: #f4f1ef;
}

.fa-file-audio:hover {
  color: #f6f2f1;
}

.output-display {
  color: white;
  background-color: #171c1c;
  white-space: break-spaces;
  height: 1700px;
}



.fas, .fa {
  cursor: pointer;
}

.background {
  background-color: #272727;
  color: #f3f2f2;
}